<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand" style="color: #d30c10;font-weight: 500;" href="/">
      Mini-Netflix
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left Side Of Navbar -->
      <ul class="navbar-nav mr-auto"></ul>

      <!-- Right Side Of Navbar -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/movies']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >All Movies</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/movies/favourites']"
            routerLinkActive="active"
            >Favourites</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" routerLinkActive="active">Login</a>
        </li>
        <form class="form-inline ml-5" (ngSubmit)="searchMovies(searchTerm)">
          <input
            [(ngModel)]="searchTerm"
            name="searchTerm"
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="btn btn-danger my-2 my-sm-0"
            type="submit"
            modal-trigger="searchResults"
          >
            Search
          </button>
        </form>
      </ul>
    </div>
  </div>
</nav>

<app-simple-modal elementId="searchResults" title="Found Movies">
  <div class="list-group list-group-flush">
    <a
      class="list-group-item  bg-dark text-light"
      *ngFor="let movie of foundMovies"
      [routerLink]="['/movies', movie.Title]"
      style="text-decoration-line: none;"
      >{{ movie.Title }}</a
    >
  </div>
</app-simple-modal>
