<app-nav-bar></app-nav-bar>
<div>
  <div
    class="jumbotron jumbotron-fluid bg-dark"
    style="background-image: url('assets/images/spider-background.jpg');background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;opacity: 0.7;"
  >
    <div class="container">
      <div>
        <img
          class="rounded"
          src="/assets/images/spider.jpg"
          width="200px"
          height="280px"
        />
      </div>
      <p class="display-4 float-right">
        Spider Man
      </p>
    </div>
  </div>
  <h1 class="container" style="font-weight: 200;">
    Movies
  </h1>
</div>
<router-outlet></router-outlet>
