<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card bg-dark border border-danger" style="width: 18rem;">
        <img
          src="/assets/images/logo3.jpg"
          class="card-img-top"
          alt="Netflix"
        />
        <div class="card-body text-center">
          <h3 class="card-title" style="font-weight: 300;">Movie title</h3>
          <p class="card-text">2019</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card bg-dark border border-danger" style="width: 18rem;">
        <img
          src="/assets/images/logo3.jpg"
          class="card-img-top"
          alt="Netflix"
        />
        <div class="card-body text-center">
          <h3 class="card-title" style="font-weight: 300;">Movie title</h3>
          <p class="card-text">2019</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card bg-dark border border-danger" style="width: 18rem;">
        <img
          src="/assets/images/logo3.jpg"
          class="card-img-top"
          alt="Netflix"
        />
        <div class="card-body text-center">
          <h3 class="card-title" style="font-weight: 300;">Movie title</h3>
          <p class="card-text">2019</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card bg-dark border border-danger" style="width: 18rem;">
        <img
          src="/assets/images/logo3.jpg"
          class="card-img-top"
          alt="Netflix"
        />
        <div class="card-body text-center">
          <h3 class="card-title" style="font-weight: 300;">Movie title</h3>
          <p class="card-text">2019</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card bg-dark border border-danger" style="width: 18rem;">
        <img
          src="/assets/images/logo3.jpg"
          class="card-img-top"
          alt="Netflix"
        />
        <div class="card-body text-center">
          <h3 class="card-title" style="font-weight: 300;">Movie title</h3>
          <p class="card-text">2019</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card bg-dark border border-danger" style="width: 18rem;">
        <img
          src="/assets/images/logo3.jpg"
          class="card-img-top"
          alt="Netflix"
        />
        <div class="card-body text-center">
          <h3 class="card-title" style="font-weight: 300;">Movie title</h3>
          <p class="card-text">2019</p>
        </div>
      </div>
    </div>
  </div>
</div>
